<html>
	<head>
		<title>Sustainable Urbanisation</title>		
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
		
		<!-- My own style sheet -->
		<!-- <link rel="stylesheet" herf="/style.css"> -->

		<!-- Angular Material requires Angular.js Libraries -->
		<script src="lib/angular/angular.min.js"></script>
		<script src="lib/angular-aria/angular-aria.min.js"></script>
		<script src="lib/angular-animate/angular-animate.min.js"></script>
		<script src="lib/angular-material/angular-material.min.js"></script>
		<script src="lib/angular-messages/angular-messages.min.js"></script>
	    <script src="lib/angular-resource/angular-resource.min.js"></script>
		<link rel="stylesheet" href="/lib/angular-material/angular-material.min.css">

		<!-- My application bootstrap  -->
		<script src="lib/jquery/dist/jquery.min.js"></script>
	    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
	    <script src="js/lb-services.js"></script>
	    <script src="js/app.js"></script>
	    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

	    <!--Drag and drop lib -->
	    <!-- https://github.com/codef0rmer/angular-dragdrop -->
	    <script src="lib/angular-dragdrop/src/angular-dragdrop.min.js"></script>
		<script src="lib/jquery-ui/jquery-ui.min.js"></script>
		<link href="lib/jquery-ui/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" type="text/css" />

	</head>

	<body>
		<div ng-app="TabApp" ng-controller="tabsController" class="tabsdemoDynamicHeight" ng-cloak>
			<md-content>
				<md-tabs md-dynamic-height="" md-border-bottom="" md-selected="selectedIndex">
					<md-tab label="Summary">
						<md-content class="md-padding">
							<h1 class="md-display-2">Summary</h1>
							<form name="projectForm1">
								<md-input-container class="md-block">
									<label>Title of Practice</label>
									<input type='text' required md-no-asterisk name="title" ng-model="summary.title">
									<div ng-messages="projectForm1.title.$error">
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Year</label>
									<input type='number' required md-no-asterisk name="year" ng-model="summary.year" min="0" max="2016">
									<div ng-messages="projectForm1.year.$error">
										<div ng-message="required">This is required.</div>
										<div ng-message="min">It should be after christ.</div>
										<div ng-message="max">You must be Marty McFly.</div>
									</div>
								</md-input-container>
								<md-input-container class="md-block">
									<label>BPTags</label>
									<input type='text' required md-no-asterisk name="tags" ng-model="summary.tags">
									<div ng-messages="projectForm1.tags.$error">
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>
								<md-input-container class="md-block">
									<label>City/Town/Village</label>
									<input type='text' required md-no-asterisk name="town" ng-model="summary.town">
									<div ng-messages="projectForm1.town.$error">
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Region</label>
									<input type='text' required md-no-asterisk name="region" ng-model="summary.region">
									<div ng-messages="projectForm1.region.$error">
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>

								<md-input-container class="md-block">
									<div ng-controller="countryAutoComplete as ctrl" layout="column" ng-cloak>
										<md-autocomplete
											required
											md-input-name="country"
											md-no-cache="ctrl.noCache"
								            md-selected-item="ctrl.selectedItem"
								            md-search-text="ctrl.searchText"
								            md-items="item in ctrl.querySearch(ctrl.searchText)"
								            md-item-text="item.display"
											md-floating-label="Country">
											<md-item-template>
												<span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
											</md-item-template>
											<div ng-messages="projectForm1.country.$error" ng-if="projectForm1.country.$touched">
												<div ng-message="required">This is required.</div>
											</div>
											<md-not-found>
												No Countries matching "{{ctrl.searchText}}" were found.
											</md-not-found>
										</md-autocomplete>
									</div>
								</md-input-container>

								<p>Has the practice been submitted previously?</p>
								<md-radio-group ng-model="summary.submitted">
									<md-radio-button class="md-primary" value="yes"> Yes </md-radio-button>
									<md-radio-button class="md-primary" value="no"> No </md-radio-button>
								</md-radio-group>

								<div ng-if="summary.submitted=='yes'">
									<md-input-container class="md-block"> 
										<label>Previous Title</label>
										<input type='text' required md-no-asterisk name="pTitle" ng-model="summary.pTitle">
										<div ng-messages="projectForm1.pTitle.$error">
											<div ng-message="required">This is required.</div>
										</div>
									</md-input-container>
								</div>
								<md-input-container class="md-block"> 
									<label>Name of Contact Person</label>
									<input type='text' required md-no-asterisk name="name" ng-model="summary.name">
									<div ng-messages="projectForm1.name.$error">
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Client Email</label>
									<input required type="email" name="clientEmail" ng-model="summary.clientEmail" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
									<div ng-messages="projectForm1.clientEmail.$error" role="alert">
										<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
											Your email must be between 10 and 100 characters long and look like an e-mail address.
										</div>
									</div>
								</md-input-container>
								<md-input-container class="md-block"> 
									<label>Summary</label>
									<input type='text' required md-no-asterisk name="summary" ng-model="summary.summary">
									<div ng-messages="projectForm1.summary.$error">
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>
								<md-input-container class="md-block"> 
									<label>Key Dates</label>
									<input type='text' required md-no-asterisk name="date" ng-model="summary.date">
									<div ng-messages="projectForm1.date.$error">
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>
							</form>

							<md-button class="md-raised md-primary" ng-click="nextTab()">Next</md-button>

						</md-content>
					</md-tab>

					<md-tab label="Narrative">
						<md-content class="md-padding">
							<h1 class="md-display-2">Narrative</h1>
							<form name="projectForm2">
								<md-input-container class="md-block">
									<label>Situation Before the Initiative Began</label>
									<textarea type='text' required md-no-asterisk name="situationBefore" ng-model="narrative.situationBefore"></textarea>
									<div ng-messages="projectForm2.situationBefore.$error">
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Establishment of Priorities</label>
									<textarea type='text' required md-no-asterisk name="establishment" ng-model="narrative.establishment"></textarea>
									<div ng-messages="projectForm2.establishment.$error">
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Formulation of Objectives and Strategies</label>
									<textarea type='text' required md-no-asterisk name="formulation" ng-model="narrative.formulation"></textarea>
									<div ng-messages="projectForm2.formulation.$error">
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>
							</form>

							<md-button class="md-raised md-warn" ng-click="prevTab()">Previous</md-button>
							<md-button class="md-raised md-primary" ng-click="nextTab()">Next</md-button>

						</md-content>
					</md-tab>

					<md-tab label="Areas of Action">
						<md-content class="md-padding">
							<h1 class="md-display-2">Areas of Action</h1>
							<div ng-controller='dragDropController' layout="row" layout-align="space-around stretch" style="height: 60%; overflow: auto;">
								<section layout="column" layout-align="space-between none" style="width: 45%;height: 100%">
									<h4 class="md-display1">Relevant Areas of Action:</h4>
									<div class="thumbnail" data-drop='true' ng-model='listA' jqyoui-droppable="{multiple:true}" style="width: 100%;height: 80%">
										<div class="caption">
											<div class="btn btn-info btn-draggable" ng-repeat="item in listA" ng-show="item.title" data-drag='true' data-jqyoui-options="{revert: 'invalid'}" ng-model="listA" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
										</div>
									</div>
								</section>
								<section layout="column" layout-align="space-between none" style="width: 45%;height: 100%">
									<h4 class="md-display1">Other Areas of Action:</h4>
									<div class="thumbnail" data-drop='true' ng-model='listB' jqyoui-droppable="{multiple:true}" style="width: 100%;height: 80%">
										<div class="caption">
											<div class="btn btn-info btn-draggable" ng-repeat="item in listB" ng-show="item.title" data-drag='true' data-jqyoui-options="{revert: 'invalid'}" ng-model="listB" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
										</div>
									</div>
								</section>
							</div>

							<md-button class="md-raised md-warn" ng-click="prevTab()">Previous</md-button>
							<md-button class="md-raised md-primary" ng-click="nextTab()">Next</md-button>

						</md-content>
					</md-tab>
					<md-tab label="Methods">
						<md-content class="md-padding">
							<h1 class="md-display-2">Methods</h1>
							<div ng-controller='dragDropController' layout="row" layout-align="space-around stretch" style="height: 60%; overflow: auto;">
								<section layout="column" layout-align="space-between none" style="width: 45%;height: 100%">
									<h4 class="md-display1">Relevant Methods:</h4>
									<div class="thumbnail" data-drop='true' ng-model='listA' jqyoui-droppable="{multiple:true}" style="width: 100%;height: 80%">
										<div class="caption">
											<div class="btn btn-info btn-draggable" ng-repeat="item in listA" ng-show="item.title" data-drag='true' data-jqyoui-options="{revert: 'invalid'}" ng-model="listA" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
										</div>
									</div>
								</section>
								<section layout="column" layout-align="space-between none" style="width: 45%;height: 100%">
									<h4 class="md-display1">Other Methods:</h4>
									<div class="thumbnail" data-drop='true' ng-model='listB' jqyoui-droppable="{multiple:true}" style="width: 100%;height: 80%">
										<div class="caption">
											<div class="btn btn-info btn-draggable" ng-repeat="item in listB" ng-show="item.title" data-drag='true' data-jqyoui-options="{revert: 'invalid'}" ng-model="listB" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
										</div>
									</div>
								</section>
							</div>

							<md-button class="md-raised md-warn" ng-click="prevTab()">Previous</md-button>
							<md-button class="md-raised md-primary" ng-click="nextTab()">Next</md-button>
							
						</md-content>
					</md-tab>
					<md-tab label="Outcomes">
						<md-content class="md-padding">
							<h1 class="md-display-2">Outcomes</h1>
							<div ng-controller='dragDropController' layout="row" layout-align="space-around stretch" style="height: 60%; overflow: auto;">
								<section layout="column" layout-align="space-between none" style="width: 45%;height: 100%">
									<h4 class="md-display1">Relevant Outcomes:</h4>
									<div class="thumbnail" data-drop='true' ng-model='listA' jqyoui-droppable="{multiple:true}" style="width: 100%;height: 80%">
										<div class="caption">
											<div class="btn btn-info btn-draggable" ng-repeat="item in listA" ng-show="item.title" data-drag='true' data-jqyoui-options="{revert: 'invalid'}" ng-model="listA" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
										</div>
									</div>
								</section>
								<section layout="column" layout-align="space-between none" style="width: 45%;height: 100%">
									<h4 class="md-display1">Other Outcomes:</h4>
									<div class="thumbnail" data-drop='true' ng-model='listB' jqyoui-droppable="{multiple:true}" style="width: 100%;height: 80%">
										<div class="caption">
											<div class="btn btn-info btn-draggable" ng-repeat="item in listB" ng-show="item.title" data-drag='true' data-jqyoui-options="{revert: 'invalid'}" ng-model="listB" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
										</div>
									</div>
								</section>
							</div>

							<md-button class="md-raised md-warn" ng-click="prevTab()">Previous</md-button>
							<md-button class="md-raised md-primary" ng-click="nextTab()">Next</md-button>
							
						</md-content>
					</md-tab>
					<md-tab label="Indicators">
						<md-content class="md-padding">
							<h1 class="md-display-2">Indicators</h1>
							<div ng-controller='dragDropController' layout="row" layout-align="space-around stretch" style="height: 60%; overflow: auto;">
								<section layout="column" layout-align="space-between none" style="width: 45%;height: 100%">
									<h4 class="md-display1">Relevant Indicators:</h4>
									<div class="thumbnail" data-drop='true' ng-model='listA' jqyoui-droppable="{multiple:true}" style="width: 100%;height: 80%">
										<div class="caption">
											<div class="btn btn-info btn-draggable" ng-repeat="item in listA" ng-show="item.title" data-drag='true' data-jqyoui-options="{revert: 'invalid'}" ng-model="listA" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
										</div>
									</div>
								</section>
								<section layout="column" layout-align="space-between none" style="width: 45%;height: 100%">
									<h4 class="md-display1">Other Indicators:</h4>
									<div class="thumbnail" data-drop='true' ng-model='listB' jqyoui-droppable="{multiple:true}" style="width: 100%;height: 80%">
										<div class="caption">
											<div class="btn btn-info btn-draggable" ng-repeat="item in listB" ng-show="item.title" data-drag='true' data-jqyoui-options="{revert: 'invalid'}" ng-model="listB" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
										</div>
									</div>
								</section>
							</div>

							<md-button class="md-raised md-warn" ng-click="prevTab()">Previous</md-button>
							<md-button class="md-raised md-accent" ng-click="">Submit</md-button>
							
						</md-content>
					</md-tab>

					<!--<md-tab label="Drag and Drop">
						<md-content class="md-padding">
							<h1 class="md-display-2">Drag bewteen two boxes</h1>
							<div ng-controller='dragDropController' layout="row" layout-align="space-around stretch" style="height: 60%; overflow: auto;">
								
								<div class="thumbnail" data-drop='true' ng-model='listA' jqyoui-droppable="{multiple:true}" style="width: 45%;">
									<div class="caption">
										<div class="btn btn-info btn-draggable" ng-repeat="item in listA" ng-show="item.title" data-drag='true' data-jqyoui-options="{revert: 'invalid'}" ng-model="listA" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
									</div>
								</div>
								<div class="thumbnail" data-drop='true' ng-model='listB' jqyoui-droppable="{multiple:true}" style="width: 45%;">
									<div class="caption">
										<div class="btn btn-info btn-draggable" ng-repeat="item in listB" ng-show="item.title" data-drag='true' data-jqyoui-options="{revert: 'invalid'}" ng-model="listB" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</div>
									</div>
								</div>

							</div>
						</md-content>
					</md-tab>

					<md-tab label="one">
						<md-content class="md-padding">
							<h1 class="md-display-2">Tab One</h1>

							<div ng-controller="dynamicFormController">
								<table>
									<tr ng-repeat="form in forms">
										<td><md-input-container class="md-block">
											<label>Title</label>
											<input type='text' ng-model="form.title">
										</md-input-container></td>
										<td><md-input-container class="md-block">
											<label>Content</label>
											<input type='text' ng-model="form.content">
										</md-input-container></td>
										<td><button class="btn btn-danger btn-xs" ng-click="delete($index)">DELETE</button></td>
									</tr>
								</table>
								
								<button class="btn btn-primary btn-md" ng-click="addNew()">Add</button>
							</div>

						</md-content>
					</md-tab>
					<md-tab label="two">
						<md-content class="md-padding">
							<h1 class="md-display-2">Tab Two</h1>
							<div class="container" ng-controller="noteController">
								<div class="row">
									<div class="col-md-4">
										<table class="table table-striped">
											<tr ng-repeat='note in notes'>
												<td>{{ note.title}}</td>
												<td>{{ note.content}}</td>
												<td><button class="btn btn-danger btn-xs" ng-click="delete($index)">DELETE</button></td>
											</tr>
										</table>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<md-input-container class="md-block">
											<label>Title</label>
											<input type='text' ng-model="note.title">
										</md-input-container>
										<md-input-container class="md-block">
											<label>Content</label>
											<input type='text' ng-model="note.content">
										</md-input-container>
										<button class="btn btn-primary btn-md"  ng-click="add()">Add</button>
										<i ng-show="loading" class="fa fa-spinner fa-spin"></i>
									</div>
								</div>
							</div>
						</md-content>
					</md-tab>
				</md-tabs> -->
			</md-content>
		</div>
	</body>
</html>