<html>
	<head>
		<title>Note Application</title>		
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
		<!-- Angular Material style sheet -->
		<link rel="stylesheet" href="/lib/angular-material/angular-material.min.css">
		<!-- bootstrap style sheet -->
		<link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
		<!-- My own style sheet -->
		<link rel="stylesheet" herf="style.css">
	</head>

	<body>
		<div ng-app="TabApp" class="tabsdemoDynamicHeight" ng-cloak>
			<md-content>
				<md-tabs md-dynamic-height="" md-border-bottom="">
					<md-tab label="Summary">
						<md-content class="md-padding">
							<h1 class="md-display-2">Summary</h1>
							<form name="projectForm">
								<md-input-container class="md-block">
									<label>Title of Practice</label>
									<input type='text' required md-no-asterisk name="title" ng-model="summary.title">
									<div ng-messages="projectForm.title.$error">
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Year</label>
									<input type='number' required md-no-asterisk name="year" ng-model="summary.year" min="0" max="2016">
									<div ng-messages="projectForm.title.$error">
										<div ng-message="required">This is required.</div>
										<div ng-message="min">It should be after christ.</div>
										<div ng-message="max">You must be Marty McFly.</div>
									</div>
								</md-input-container>
								<md-input-container class="md-block">
									<label>BPTags</label>
									<input type='text' required md-no-asterisk name="tags" ng-model="summary.tags">
									<div ng-messages="projectForm.tags.$error">
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>
								<md-input-container class="md-block">
									<label>City/Town/Village</label>
									<input type='text' required md-no-asterisk name="town" ng-model="summary.town">
									<div ng-messages="projectForm.town.$error">
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Region</label>
									<input type='text' required md-no-asterisk name="region" ng-model="summary.region">
									<div ng-messages="projectForm.region.$error">
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>

								<md-input-container class="md-block">
									<div ng-controller="countryAutoComplete as ctrl" layout="column" ng-cloak>
										<md-autocomplete
											required
											md-input-name="country"
											md-no-cache="ctrl.noCache"
								            md-selected-item="ctrl.selectedItem"
								            md-search-text="ctrl.searchText"
								            md-items="item in ctrl.querySearch(ctrl.searchText)"
								            md-item-text="item.display"
											md-floating-label="Country">
											<md-item-template>
												<span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
											</md-item-template>
											<div ng-messages="projectForm.country.$error" ng-if="projectForm.country.$touched">
												<div ng-message="required">This is required.</div>
											</div>
											<md-not-found>
												No Ccountries matching "{{ctrl.searchText}}" were found.
											</md-not-found>
										</md-autocomplete>
									</div>
								</md-input-container>

								<md-switch ng-model="showHints" aria-label="Has the practice been submitted previously?"></md-switch>

								<md-input-container class="md-block"> 
									<label>Previous Title</label>
									<input type='text' required md-no-asterisk name="pTitle" ng-model="summary.pTitle">
									<div ng-messages="projectForm.pTitle.$error">
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>
								<md-input-container class="md-block"> 
									<label>Name of Contact Person</label>
									<input type='text' required md-no-asterisk name="name" ng-model="summary.name">
									<div ng-messages="projectForm.name.$error">
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>
								<md-input-container class="md-block">
									<label>Client Email</label>
									<input required type="email" name="clientEmail" ng-model="summary.clientEmail" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
									<div ng-messages="projectForm.clientEmail.$error" role="alert">
										<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
											Your email must be between 10 and 100 characters long and look like an e-mail address.
										</div>
									</div>
								</md-input-container>
								<md-input-container class="md-block"> 
									<label>Summary</label>
									<input type='text' required md-no-asterisk name="summary" ng-model="summary.summary">
									<div ng-messages="projectForm.summary.$error">
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>
								<md-input-container class="md-block"> 
									<label>Key Dates</label>
									<input type='text' required md-no-asterisk name="date" ng-model="summary.date">
									<div ng-messages="projectForm.date.$error">
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>
							</form>
						</md-content>
					</md-tab>
					<md-tab label="one">
						<md-content class="md-padding">
							<h1 class="md-display-2">Tab One</h1>

							<div ng-controller="dynamicFormController">
								<table>
									<tr ng-repeat="form in forms">
										<td><md-input-container class="md-block">
											<label>Title</label>
											<input type='text' ng-model="form.title">
										</md-input-container></td>
										<td><md-input-container class="md-block">
											<label>Content</label>
											<input type='text' ng-model="form.content">
										</md-input-container></td>
										<td><button class="btn btn-danger btn-xs" ng-click="delete($index)">DELETE</button></td>
									</tr>
								</table>
								
								<button class="btn btn-primary btn-md" ng-click="addNew()">Add</button>
							</div>

						</md-content>
					</md-tab>
					<md-tab label="two">
						<md-content class="md-padding">
							<h1 class="md-display-2">Tab Two</h1>
							<div class="container" ng-controller="noteController">
								<div class="row">
									<div class="col-md-4">
										<table class="table table-striped">
											<tr ng-repeat='note in notes'>
												<td>{{ note.title}}</td>
												<td>{{ note.content}}</td>
												<!-- <td><button class="btn btn-danger btn-xs" ng-click="delete($index)">  <span class="glyphicon glyphicon-trash" ></span></button></td> -->
												<td><button class="btn btn-danger btn-xs" ng-click="delete($index)">DELETE</button></td>
											</tr>
										</table>
									</div>
								</div>

								<div class="row">
									<div class="col-md-4">
										<md-input-container class="md-block">
											<label>Title</label>
											<input type='text' ng-model="note.title">
										</md-input-container>
										<md-input-container class="md-block">
											<label>Content</label>
											<input type='text' ng-model="note.content">
										</md-input-container>
										<button class="btn btn-primary btn-md"  ng-click="add()">Add</button>
										<i ng-show="loading" class="fa fa-spinner fa-spin"></i>
									</div>
								</div>
							</div>
						</md-content>
					</md-tab>
					<md-tab label="three">
						<md-content class="md-padding">
							<h1 class="md-display-2">Tab Three</h1>
							<p>This is Tab Three!</p>
						</md-content>
					</md-tab>
				</md-tabs>
			</md-content>
		</div>

		<!-- Angular Material requires Angular.js Libraries -->
		<script src="/lib/angular/angular.js"></script>
		<script src="/lib/angular-aria/angular-aria.js"></script>
		<script src="/lib/angular-animate/angular-animate.js"></script>
		<script src="/lib/angular-material/angular-material.js"></script>
		<script src="/lib/angular-messages/angular-messages.min.js"></script>
	    <script src="lib/angular-resource/angular-resource.js"></script>

		<!-- My application bootstrap  -->

		<script src="lib/jquery/dist/jquery.js"></script>
	    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
	    <script src="js/lb-services.js"></script>
	    <script src="js/app.js"></script>
	</body>
</html>