<h1>Note list</h1>
<hr>
<form name="noteForm" novalidate ng-submit="addnote()">
 <div
     ng-class="{'has-error': noteForm.content.$invalid
       && noteForm.content.$dirty}">
   <input type="text" name="content"
       placeholder="Content" autocomplete="off" required
       ng-model="newNote.content">
   <span ng-show="
       noteForm.content.$invalid && noteForm.content.$dirty">
     Content is required.
   </span>
 </div>
 <button ng-disabled="noteForm.$invalid">Add</button>
</form>
<hr>
<div>
 <a ng-repeat="note in notes">{{note.content}}&nbsp;
   <i
       ng-click="removeNote(note)"></i></a>
</div>